body {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 1.1em;
    line-height: 1.3;
    max-width: 40em;
    margin: auto;
    text-align: justify;
}

h2 { 
    margin-top: 1em;
    font-size: 1.3em;
}


dt { font-style: italic; }
dd { font-size: 0.8em; }

a {
    text-decoration: none; 
    outline: none; 
}
a:hover {
    text-decoration: underline;
    color: #7e85de;
}

#contents ul {
    padding: 0;
    display: inline-block;
}
#contents ul li {
    display: inline-block;
}
#contents ul li::after {
  content: ", ";
}
#contents ul li:last-child::after {
  content: "";
}


.slika {
    float: right;
    text-align: center;
    font-size: 0.9em;
    margin: auto;
    margin-left: 2em;
    margin-bottom: 0.5em;
    background-color: #dad5d594;
    padding: 0.5em;
    border: 2px #AAAAAA solid;
    width: 25%;
}

.slika img { 
    width: 100%;
    height: auto;
}

.slika p {
    margin: 0;
    text-align: center;
}

h1 {
    color: #313bbe;
}